In [34]:
import pandas as pd

data_path = "../training_data/cefr_leveled_texts.csv"
df = pd.read_csv(data_path)
df.head()

                                                text label
0  Hi!\nI've been meaning to write for ages and f...    B2
1  ﻿It was not so much how hard people found the ...    B2
2  Keith recently came back from a trip to Chicag...    B2
3  The Griffith Observatory is a planetarium, and...    B2
4  -LRB- The Hollywood Reporter -RRB- It's offici...    B2

In [35]:
df["text"] = df["text"].str.replace("\n", "")
df.head()

                                                text label
0  Hi!I've been meaning to write for ages and fin...    B2
1  ﻿It was not so much how hard people found the ...    B2
2  Keith recently came back from a trip to Chicag...    B2
3  The Griffith Observatory is a planetarium, and...    B2
4  -LRB- The Hollywood Reporter -RRB- It's offici...    B2

In [36]:
df["text"] = df["text"].str.split("[.!?]")
print(df["text"][0])
df.head()

['Hi', "I've been meaning to write for ages and finally today I'm actually doing something about it", " Not that I'm trying to make excuses for myself, it's been really hard to sit down and write, as I've been moving around so much", " Since we last saw each other I've unpacked my bags in four different cities", " This job has turned out to be more of a whirlwind than I expected, but it's all good", ' I went from London to Prague to set up a new regional office there', " You know I'd always wanted to go, but maybe I was imagining Prague in spring when I used to talk about that", ' Winter was really hard, with minus 15 degrees in the mornings and dark really early in the evening', ' But at least it was blue skies and white snow and not days on end of grey skies and rain, like at home', " It's tough being away from home over Christmas, though, and Skype on Christmas Day wasn't really the same as being with everyone", 'From there I was on another three-month mission to oversee the set-up of the office in New York', ' Loved, loved, loved New York', " It's like being in one big TV show, as everywhere looks just a little bit familiar", " I did every tourist thing you can think of when I wasn't working, and must have spent most of my salary on eating out", ' It was really hard to leave for the next job, especially as I kind of met someone (', ') More about Michael later ', '', '', 'So then I was posted to LA, which felt like a whole other country compared with the East Coast', " I could definitely get used to that kind of outdoor, beach lifestyle, but I didn't spend as much time getting to know California as I could have because I was flying back to see Michael every other weekend", " He came to see me when he could, but his job means he's often working at weekends, so he couldn't make the flight very often", ' Those three months flew by and then I was off again, to Frankfurt, which is where I am now', ' And … so is Michael', " He got a month off work and we're trying to work out how we can be in the same place at the same time for a while", " We figure the first step in that direction is getting married, which is also why I wanted to write – I can't get married without my oldest friend there", " The wedding's going to be at home in London in September and I hope you can come", 'Anyway, tell me all your news and I promise not to leave it so long this time', 'Lots of love,Kath']

                                                text label
0  [Hi, I've been meaning to write for ages and f...    B2
1  [﻿It was not so much how hard people found the...    B2
2  [Keith recently came back from a trip to Chica...    B2
3  [The Griffith Observatory is a planetarium, an...    B2
4  [-LRB- The Hollywood Reporter -RRB- It's offic...    B2

In [37]:
df = df.explode("text")
df = df.reset_index(drop=True)
df.head()

                                                text label
0                                                 Hi    B2
1  I've been meaning to write for ages and finall...    B2
2   Not that I'm trying to make excuses for mysel...    B2
3   Since we last saw each other I've unpacked my...    B2
4   This job has turned out to be more of a whirl...    B2

In [38]:
print(df.shape)
df = df.drop(df[df["text"].map(len) < 20].index)
df = df.reset_index(drop=True)
print(df.shape)

(41077, 2)
(35559, 2)

In [39]:
df.head()

                                                text label
0  I've been meaning to write for ages and finall...    B2
1   Not that I'm trying to make excuses for mysel...    B2
2   Since we last saw each other I've unpacked my...    B2
3   This job has turned out to be more of a whirl...    B2
4   I went from London to Prague to set up a new ...    B2