In [2]:
import pandas as pd

data_path1 = "../training_data/CEFR-SP/SCoRE/CEFR-SP_SCoRE_train.txt"
df1 = pd.read_csv(data_path1, delimiter="\t", names=["sentence", "label_a", "label_b"])
df1.head()

                                         sentence  label_a  label_b
0                             Is that your bike ?        1        1
1  She had a beautiful necklace around her neck .        1        1
2                 I forgot to bring my umbrella .        1        1
3                          The baby kept crying .        1        1
4   Do you know what you 're doing this weekend ?        1        1

In [3]:
data_path2 = "../training_data/CEFR-SP/Wiki-Auto/CEFR-SP_Wikiauto_train.txt"
df2 = pd.read_csv(data_path2, delimiter="\t", names=["sentence", "label_a", "label_b"])
df2.head()

                                            sentence  label_a  label_b
0  Delpire died in Paris on 26 September 2017 in ...        1        1
1     Harris died on 9 May 2019 , at the age of 93 .        1        1
2  Long died on January 15 , 2017 , at the age of...        1        1
3                        Matos died on 8 June 2019 .        1        1
4     Pazos died on 24 May 2019 , at the age of 89 .        1        1

In [7]:
df = pd.concat([df1, df2], ignore_index=True)
print(df.shape)
df.head()

(7178, 3)

                                         sentence  label_a  label_b
0                             Is that your bike ?        1        1
1  She had a beautiful necklace around her neck .        1        1
2                 I forgot to bring my umbrella .        1        1
3                          The baby kept crying .        1        1
4   Do you know what you 're doing this weekend ?        1        1